<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.security.service.impl.RoleResourceMapper">
    <select id="selectAll" parameterType="String" resultType="egovframework.security.service.impl.RoleResourceVO">
        SELECT '1' resourceId,
               '/' resourceUrl,
               'ADMIN' roleCd,
               1 sortOrder
        FROM DUAL
    </select>
</mapper>