<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>

        <RollingFile name="DbQueryFile"
                     fileName="./logs/db_query.log"
                     filePattern="./logs/backup/db_query-%d{yyyy-MM-dd}-%i.log.zip">
            <!-- 로그가 파일에 적힐 포맷 (시간과 메시지만 깔끔하게) -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" /> <!-- 매일 밤 자정에 파일 새로 만들기 -->
                <SizeBasedTriggeringPolicy size="10 MB" /> <!-- 혹은 파일이 10MB 넘으면 새로 만들기 -->
            </Policies>
            <DefaultRolloverStrategy max="30" /> <!-- 백업 파일은 최대 30개까지만 보관하고 오래된 건 자동 삭제 -->
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- ⭐️ [수정] ref="Console"을 소문자 "console"로 변경하고, level을 DEBUG로 완화 -->
        <Logger name="p6spy" level="DEBUG" additivity="false">
            <AppenderRef ref="DbQueryFile" />
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="edms" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.egovframe" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
